{% extends 'base.html' %}
{% block title %}Study Detail {% endblock %}

{% block content %}
<a href="{% url 'study_dashboard' %}" class="btn btn-secondary mb-3">
        ← Back
</a>
<h2>{{ study.name }}</h2>
<p><strong>Protocol ID:</strong> {{ study.protocol_id }}</p>
<p><strong>Description:</strong> {{ study.description }}</p>

<!--the link which will take us to participants list-->
{% comment %}
<!-- <a href="{% url 'participants_list' study.id %}" class="btn btn-primary">
    View Participants
</a> -->
{% endcomment %}

<hr>
<!--Displaying participant details as a table-->
<h4>Participants</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Participant Code</th>
            <th>Enrolled</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <td>{{ participant.participant_code }}</td>
            <td>{{ participant.enrolled_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No participants yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_participant' study.id %}" class="btn btn-success">
    Add New Participant
</a>
{% endblock %}