{% extends 'base.html' %}
{% block title %}Study Detail {% endblock %}

{% block content %}
<h2>{{ study.name }}</h2>
<p><strong>Protocol ID:</strong> {{ study.protocol_id }}</p>
<p><strong>Description:</strong> {{ study.description }}</p>

<!--the link which will take us to participants list-->
<a href="{% url 'participants_list' study.id %}" class="btn btn-primary">
    View Participants
</a>

<hr>
<!--Displaying participant details as a table-->
<h4>Participants</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Participant Code</th>
            <th>Enrolled</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <td>{{ participant.participant_code }}</td>
            <td>{{ participant.enrolled_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No participants yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}